<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3MljpIM25MXa3NX5XUsvjF2nKgk-HgoU</string>
	<key>GCM_SENDER_ID</key>
	<string>515567098215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-flutter-2a39a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-flutter-2a39a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515567098215:ios:012e0bdeadc01daef4b7c2</string>
</dict>
</plist>